/*COMMON COLOURS
maghera green = #77BD3A;
*/

/*=========GLOBAL=========*/
button, .button {
  font-size: 1.4rem;
  color: white;
  background: #77BD3A!important;
  border: 1px solid #77BD3A !important;
}

span {
  padding: 0;
  margin: 0;
}

hr {
  background: lightgrey;
  height: 1px;
  width: 100%;
}


/* HEADER AND NAV */
header {
  height: 8vh;
  background-color: rgba(0, 0, 0, .0);
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 9999;
  transition: 0.3s ease-in;
}

header a {
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}

.navbar ul {
  display: flex;
  margin-right: 30px;
  margin-bottom: 0;
  height: 100%;
}

.navbar ul li {
  display: flex;
  align-items: center;
  border-radius: 1em;
  height: 100%;
  margin-bottom: 0;
  padding: 0 20px;
}

.navbar ul li.active a {
  border-bottom: 2px solid white;

}

.navbar.scrolled ul li.active a {
  color: #77BD3A;
  border-bottom: 2px solid #77BD3A;
}

.navbar ul li:hover{
  background: rgba(0,0,0,0.35);
  font-weight: bold;
}



.navbar ul li a {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
  color: white;
  transition: .3s ease-in;

}

.navbar.scrolled ul li a {
  color: black;
  transition: .5s ease-in;
  transition: color .2s ease-in;
}

.navbar.scrolled ul li:hover a{
  color: white;
}

.center-row {
  text-align: center;
}

.menuToggle {
  display: none !important;
}

#mobile-menu {
  display: none;
}
/*==============HERO=============*/
.hero {
  height: 70vh;
  position: relative;
  background-image: url('../images/hero.jpeg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.35);
  text-align: center;
  transition: .05s linear;
  color: white;
}

.hero h1 {
  font-weight: bold;
  font-size:6rem;
}

.hero lead {
  font-size: 1.5em;
  font-weight: normal;
}

.hero .u-full-width{
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*============QUOTE==========*/
.quote {
  height: auto;
  text-align: center;
  margin-bottom: 30px;
}

.quote .u-full-width {
  height: 100%;
  display: flex;
  padding-top: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote button {
  padding: 10px 50px;
  background-color: #77BD3A;
  height: auto;
}

/*===========ABOUT================*/
.about .u-full-width {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding:  20px 0;
}

.about small {
  color: #888;
}

.lines {
  margin-bottom: 20px;
}

.line {
  width: 40px;
  height: 2px;
  display: inline-block;
  position: relative;
  background: #77BD3A;
  margin-top: 10px;
  margin-left: 3px;
}

/*============SERVICES=============*/
.services-heading {
  text-align: center;
}

.services .row {
  display: flex;
}

.main-services {
  margin-bottom: 30px;
}

.service {
  height: inherit;
  padding: 15px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  box-shadow: 6px 6px 10px #888888;
}

.service img {
  height: 200px;
  max-width: 100%;
  margin-bottom: 10px;
}

.service .button {
  margin-top: auto;
}

.more-services{
padding: 20px 0;
}
.more-services h3 {
  text-align: center;
}

.more-services .u-full-width ul {
  max-height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.more-services .u-full-width ul li {
  margin-left: 10%;
}


/*=============FOOTER================*/
footer {
  background: #303030;
  color: white;
  padding: 40px 0;
  margin-top: 40px;
}

footer a {
  color: white;
  text-decoration: underline;
}


/*============MEDIA QUERIES===========*/

@media screen and (max-width: 550px){
  .menuToggle {
    display: flex!important;
  }

  .navbar ul {
    display: none;
  }

  .services{
    height: auto;
  }
  .services .row {
    display: block;
    height: auto;
  }

  .service {
    box-shadow: none;
    margin-bottom: 10px;
  }
  .more-services .u-full-width {
    display: flex;
    flex-direction: column;
  }

  .more-services .u-full-width ul {
    height: auto;
    flex-wrap: nowrap;
  }

  footer {
    margin-top: 100px;
  }
}

@media only screen
  and (max-width:700px)
  and (orientation: landscape) {
    .hero {
      height: auto;
    }
  }
