/*=============SIDE MENU TOGGLE ========*/

.menuToggle {
  height: 50px;
  width: 50px;
  display:flex;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.leftSpans, .rightSpans {
  width:50%;
}

.menuToggle span {
  display: block;
  position: absolute;
  height: 1vh;
  background: black;
  width: 50%;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.leftSpans span:nth-child(1), .rightSpans span:nth-child(1){
  top: 16.5%;
}

.leftSpans span:nth-child(2), .rightSpans span:nth-child(2){
  top: 49.5%;
}

.leftSpans span:nth-child(3), .rightSpans span:nth-child(3){
  top: 82.5%;
}

.menuToggle.open .leftSpans span:nth-child(1), .menuToggle.open .rightSpans span:nth-child(3) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menuToggle.open .leftSpans span:nth-child(3),.menuToggle.open .rightSpans span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menuToggle.open .leftSpans span:nth-child(2) {

  opacity: 0;
}

.menuToggle.open .rightSpans span:nth-child(2) {

  opacity: 0;
}


.menuToggle.open .leftSpans span:nth-child(1) {
  top: 33%;
  left:8.2%
}

.menuToggle.open .rightSpans span:nth-child(1) {
  top: 33%;
  right: 8.2%;
}



.menuToggle.open .leftSpans span:nth-child(3) {
  left: 8.2%;
  top: 66%;
}

.menuToggle.open .rightSpans span:nth-child(3) {
  right: 8.2%;
  top: 66%;
}
